<div class="center">
  <h1><%= @user.name %></h1>
  <%= image_tag @user.avatar.url if @user.avatar.url %>
  <h3><%= sub_headline %></h3>
</div>

<% if @user == current_user %>
<div class="new-post">
  <%=  form_for(:post, url: posts_path) do |f| %>
    <%= f.hidden_field :author_id, value: current_user.id %>
    <%= f.text_area :content %>
    <%= f.submit "Post to Timeline", class: "submit-btn" %>
  <% end %>
</div>
<% end %>

<div class="center">
  <h2>Posts by <%= @user.name %>:</h2>
</div>

<%= render @posts %>
<% unless current_user.friendship_with(@user).empty? %>
  <%= render 'shared/unfriend_link', user:@user%>
<% else %>
  <%= render 'shared/request_link', user:@user unless hide_button?(@user) %>
<% end %>
