<div class="new-comment">
  <%= form_for(:comment, url: comments_path) do |f| %>
    <%= f.hidden_field :author_id, value: current_user.id %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.text_area :content %>
    <%= f.submit "Post comment", class: "submit-btn" %>
  <% end %>
  <div class="clearfix"></div>
</div>