<div class="post">
  <h3 class="post-author"><%= post.author.name %> posted:</h3>
  <h6 class="post-timestamp"><%= post.created_at %></h6>
  <div class="post-content"><%= post.content %></div>
  <div class="comments-count">
    <% if params[:controller] == "posts" and params[:action] == "show" %>
      <%= pluralize(post.comments.count, 'comment') %>
    <% else %>
      <%= link_to pluralize(post.comments.count, 'comment'), post %>
    <% end %>
  </div>

  <div class="post-likes">
    <% if current_user.liked_content.include? post %>
      <%= render 'shared/unlike_form', content: post %>
    <% else %>
      <%= render 'shared/like_form', content: post %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>