<div class="new-post">
  <h3>New Post:</h3>
  <%= form_for(:post, url: posts_path) do |f| %>
    <%= f.hidden_field :author_id, value: current_user.id %>
    <%= f.text_area :content %>
    <%= f.submit "Post to Timeline", class: "submit-btn" %>
  <% end %>
  <h3>Timeline:</h3>
</div>
<% if @posts.empty? %>
  <div class="center">
    No posts found. Make some new friends and get posting!
  </div>
<% else %>
  <%= render @posts %>
<% end %>