<!DOCTYPE html>
<html>
  <head>
    <title>Forgebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if user_signed_in? %>
        <%= link_to "Timeline", posts_path %> |
        <% if current_user.friend_requests.count > 0 %>
          <%= link_to pluralize(current_user.friend_requests.count, 'friend request'
            ), friendships_path %> |
        <% else %>
          <%= link_to pluralize(current_user.friends.count, 'friends'),
          friendships_path %> |
        <% end %>
        <%= link_to current_user.name, current_user %>
        (<%= link_to "Edit profile", edit_user_registration_path %>) |
        <%= link_to "All Users", users_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>
    <p class="notice center"><%= notice %></p>
    <p class="alert center"><%= alert %></p>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
